../.idea
.env
.env.testing
.phpunit.result.cache
/node_modules
/public/hot
/public/storage
/vendor
composer.lock
Homestead.json
Homestead.yaml
npm-debug.log
public/css/custom.css
public/img/organization.png
public/img/system-element1.png
public/img/system-element2.png
storage/*.key
storage/cache/
yarn-error.log
.rnd
*.xls
*.xlsx
!tags_import.xlsx
fields.json
/docker-compose.yml
.DS_Store
.php-cs-fixer.cache
